@charset "utf-8";
/* CSS Document */

.bgimg1{
	background: url( "../images for linked pages/Great pyramids of giza history images/bgimg2.jpg")no-repeat;
	background-attachment: fixed;
}
.bgimg2{
	background: url( "../images for linked pages/Great pyramids of giza history images/bgimg1.jpg")no-repeat;
	background-attachment: fixed;
}